# Archivos del sistema operativo
.DS_Store

# Archivos locales o de entorno
.env
.venv/
*.log

# Carpetas que no queremos cargar al repositorio
data/
notebooks/

# Archivos de Bases de Datos
*.sqlite
*.db
*.duckdb
!warehouse.duckdb   # <- EXCEPCIÓN: este sí lo queremos subir

# Otros archivos temporales
*.tmp
__pycache__/
*.py[cod]

# Archivos temporales de Dagster
.tmp_dagster_home_*/
dagster.db
instance/
storage/

# Archivos Parquet y bases de datos locales
data/**/*.parquet
data/**/*.duckdb